/*
    深至淺
    #000,#173242,#1D3E53
    #254B62,#476D7C,#74818a
    #77ABB7,#91A1AC,#9FA6AA
    #BBBEBF,#DCE1E5,#EAEDEF
    #FFF
*/
a,input,textarea{
	-webkit-appearance: none; outline: none;
}
a{
    color: #77ABB7; text-decoration: none; font-weight: bold; line-height: 25px;
}
ul{
    list-style: none;
    padding-left:20px;
}
li{
    text-align: left; white-space: nowrap;
    animation: show 1s;
}
li::before{
    display: inline-block;
    content: ""; height: 25px;
}
hr{
    border: none; border-bottom: solid 1px;
}
input[type=button]{
    cursor: pointer;
    color: inherit; font-size: 16px;
    background: rgba(0, 0, 0, 0);
    height: 30px; width: 80px;
    border: solid 2px; border-radius: 5px;
    transition: all 1s;
}
input[type=button]:hover{
    color:#77ABB7;
}
input[type=checkbox]{
    display: none;
}
body{
    user-select: none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none;
    background: -webkit-linear-gradient(#000, #173242, #74818a, #9FA6AA);
    background: -moz-linear-gradient(#000, #173242, #74818a, #9FA6AA);
    background: linear-gradient(#000, #173242, #74818a, #9FA6AA);
    width: 100%; height: 100%; overflow: hidden;
    margin: 0px;
}
header{
    color: #77ABB7;
    background: -webkit-linear-gradient(#000, #000, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(#000, #000, rgba(0, 0, 0, 0));
    background: linear-gradient(#000, #000, rgba(0, 0, 0, 0));
    height: 80px; width: 100%;
    position: fixed; top: 0px; left: 0px; z-index: 3;
}
#showlist,#hidelist{
	cursor: pointer; display: none;
	height: 40px; width: 40px;
	position: absolute; top: 20px; left: 20px;
    animation: show 1s; transition: all 0.5s;
}
#showlist div,#hidelist div{
	background: #77ABB7;
	height: 2px; width: 30px;
	margin: 9px 5px;
	transition: all 0.5s;
}
#hidelist{
	transform: rotateZ(180deg);
}
#hidelist div:first-child{
	transform: translate(5px, -2px) rotateZ(45.5deg); transform-origin: left;
}
#hidelist div:nth-child(2){
	opacity: 0;
}
#hidelist div:last-child{
	transform: translate(5px, -3px) rotateZ(-45deg); transform-origin: left;
}
#title{
    cursor: pointer;
    font-size: 40px; text-align: center; line-height: 80px;
    height: 80px; width: 110px;
    position: absolute; top:0px; left: 40px;
    transition: all 1s;
}
#list{
    color: #FFF;
    background: rgba(0, 0, 0, 0.2);
    height: 100%; width: 300px; overflow: hidden;
    position: absolute; top: 0px; left: 0px; z-index: 2;
    transition-property: left, background-color; transition-duration: 1s;
}
#list input ~ label::before{
    background-repeat: no-repeat; background-image: url(../img/arrow.png); background-size: 15px; background-position: center;
    display: block;
    content: ""; height: 25px; width: 25px;
    float: left;
    transition: transform 0.5s;
}
#list input:checked:not(:disabled) ~ label::before{
    transform: rotate(90deg);
}
#list input:disabled + label::before{
    opacity: 0;
}
#list input ~ ul{
    display: none;
    animation: show 1s;
}
#list input:checked:not(:disabled) ~ ul{
    display: block;
}
#storybox{
    height: 100%; width: calc(100% - 300px); overflow: hidden;
    position: absolute; top: 0px; left: 300px;
    transition: left 1s;
}
.scrollcontent::before{
    display: block;
    content: ""; height: 70px; width: 100%;
}
.scrollcontent{
    height: 100%; width: 100%; overflow: scroll;
}
.storycard{
    color: #FFF; letter-spacing:4px;
    background: rgba(0, 0, 0, 0.4);
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px calc((100% - 620px) / 2);
    animation: show 1s;
}
.storycard .relate a{
    cursor: pointer;
    margin-left: 20px;
}
.loading div{
    animation: show 1s infinite;
}
.title{
    font-size: 20px; font-weight: bold;
}
.article{
    font-size: 16px;
    padding: 0px 10px 10px;
}
.article p{
    text-indent: 32px;
}
@media screen and (max-width: 940px){
    #list{
        background: rgba(0, 0, 0, 0.9);
        left: -300px;
    }
    #storybox{
        left: 0px;
        width: 100%;
    }
    #showlist,#hidelist{
        display: block;
    }
    #title{
        left: 80px;
    }
}
@media screen and (max-width: 640px){
    .storycard{
        width: calc(100% - 20px);
        margin-left: 0px;
    }
    #title{
        width: 100%;
        left: 0px;
    }
}
@keyframes show{
    0%{
        opacity: 0
    }
}