@font-face {
    font-family: NotoSans;
    src: url(../font/NotoSansCJKtc-Thin.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Light.ttf);
}
* {
    outline: none;
    font-family: OpenSans, NotoSans;
    font-size: 16px;
    transition: all 0.25s;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
body {
    background: #ddd;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
a {
    color: #222;
}
label a {
    text-decoration: none;
}
header {
    text-align: center;
    line-height: 80px;
    color: #333;
    background-color: transparent;
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: relative;
}
header>* {
    height: 100%;
    float: left;
}
header .title {
    cursor: pointer;
    font-size: 40px;
    margin-left: 40px;
}
.container {
    padding-top: 10px;
    margin: 0px calc((100% - 820px) / 2);
}
.cover {
    color: white;
    font-size: 40px;
    text-align: center;
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.5;
	z-index: 999;
}
.cover::after {
	display: block;
	content: "請稍待";
	font-size: 65px;
	line-height: 200px;
	text-align: center;
	width: 200px;
	height: 200px;
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
	animation: show 1s infinite;
}
.field {
    word-spacing: 5px;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 28px;
    background-color: rgba(238, 238, 238, 0.6);
    width: 800px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.w100 {
    width: calc(100% - 10px);
}
.row .row {
    float: none;
}
.row *{
    float: left;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.row.row-rv *{
    float: right;
}
::-webkit-input-placeholder,
::-moz-placeholder {
    color: #111;
}
.f18 {
    font-size: 18px;
}
label, [type=button], [type=submit] {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
label:not([for]) {
    cursor: default;
}
[type=button], [type=submit] {
    padding: 5px 10px;
    border-color: #000;
    margin: 0px 5px;
}
[type=checkbox], [type=radio] {
    display: none;
}
[type=checkbox]:checked+label,
[type=radio]:checked+label {
    border-color: #000;
}
[type=text], textarea {
    background: none;
    padding: 5px;
    border: none;
    border-bottom-color: #111;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    resize: none;
}
.for-mob {
    display: none;
}
@media screen and (max-width: 1000px) {
    .container {
        margin: 0px calc((100% - 620px) / 2);
    }
    .field {
        width: 600px;
    }
}
@media screen and (max-width: 640px) {
    .container {
        margin: 0px;
    }
    .field {
        width: calc(100% - 20px);
    }
    header {
        color: #eee;
        background-color: #333;
    }
}
@media screen and (max-width: 540px) {
    .for-com {
        display: none;
    }
    .for-mob {
        display: initial;
    }
    header {
        line-height: 50px;
        height: 50px;
    }
    header .title {
        font-size: 25px;
        width: 100%;
        height: 50px;
        margin-left: 0px;
    }
}
@keyframes show {
    0%{
        opacity: 0;
    }
}